<h2>All Lists</h2>

<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
    <%= link_to "view list", list_path(list) %>
    <%= link_to "Delete", list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <% end %>
</ul>

<div class="create_a_list">
  <%= link_to "create list", new_list_path(@list) %>
</div>
